<ion-header>
  <ion-navbar color="primary">
    <img src="assets/imgs/CAPA.png" class="icon2">
  </ion-navbar>
</ion-header>

<ion-content padding id="main">
  <br>
  <div class="icon2"><img src="assets/imgs/iconn.png"></div>

  <div id="landing" *ngIf="counter == 0 && done === false">
    <h3 style="line-height: 160%">Phrasal Verbs</h3>
    <button ion-button (click)="onStart()" id="start">START QUIZ</button>
  </div>

  <div id="minidash" *ngIf="counter > 0 && done === false">
    <span>Question {{ps_counter-1}}</span>
    <span>Chances: {{chances}}</span>
  </div>

  <div class="quiz" *ngIf = "counter == 1">
    <h1>Call Off</h1>
    <p>We had to call off the meeting with the new client.</p>
    <div class="btn-row">
      <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">reschedule</button>
      <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">delay</button>
      <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">cancel</button>
      <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">anticipate</button>
  	</div>	
  </div>

  <div class="quiz" *ngIf = "counter == 2">
      <h1>Come Up With</h1>
      <p>The Obama administration needs to come up with a plan for Syria.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">schedule</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">allow</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">defend</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">suggest</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 3">
      <h1>Get By</h1>
      <p>My arithmetic isn’t very good, but I get by.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">get</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">survive</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">succeed</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">struggle</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 4">
      <h1>Glance Off</h1>
      <p>The bullets glanced off the car.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">cross</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">ricochet</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">touched</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">scratch</button>
      </div>	
  </div>
  
  <div class="quiz" *ngIf = "counter == 5">
      <h1>Figure Out</h1>
      <p>Let’s figure out a way to help.</p>
      <div class="btn-row">
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">find</button>
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">discover</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">suggest</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">comprise</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 6">
      <h1>Seek Out</h1>
      <p>We need to seek out solutions to these problems.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">plan</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">search</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">hide</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">create</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 7">
      <h1>Wind Up</h1>
      <p>I’d like to wind up the meeting soon.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">settle</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">resolve</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">end</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">award</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 8">
      <h1>Back Away</h1>
      <p>This is hard because as the misbehaviour escalates, your natural tendency is to back away and even try to avoid him.</p>
      <div class="btn-row">
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">retreat</button>
      <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">abandon</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">quit</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">bore</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 9">
      <h1>Mess With</h1>
      <p>The system works well so don’t mess with it.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">abandon</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">move</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">disturb</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">spoil</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 10">
      <h1>Sum Up</h1>
      <p>The situation can be summed up as unacceptable.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">finish</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">accept</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">declare</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">resume</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 11">
      <h1>Cross Out</h1>
      <p>Cross out the wrong answers.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">erase</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">pass</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">correct</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">annul</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 12">
      <h1>Grow Apart</h1>
      <p>We were best friends in high school, but we have since grown apart.</p>
      <div class="btn-row">
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">distance</button>
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">increase</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">develop</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">argue</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 13">
      <h1>Barge In</h1>
      <p>The kids just barge in without knocking.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">excuse</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">run</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">bump</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">invade</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 14">
      <h1>Urge On</h1>
      <p>What I remember most was the thrill of the crowd urging me on.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">boo</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">encourage</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">cheer</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">applaud</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 15">
      <h1>Settle For</h1>
      <p>I had to settle for a lower wage than the one I requested.</p>
      <div class="btn-row">
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">conform</button>
      <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">receive</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">deny</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">question</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 16">
      <h1>Call Forth</h1>
      <p>His speech called forth an angry response.</p>
      <div class="btn-row">
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">incite</button>
      <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">cause</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">start</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">accomplish</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 17">
      <h1>Sweat Out</h1>
      <p>Karen sweated out the long wait peacefully.</p>
      <div class="btn-row">
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">endure</button>
      <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">perspire</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">wait</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">hurry</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 18">
      <h1>Ring Out</h1>
      <p>His brave words rang out.</p>
      <div class="btn-row">
      <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">echo</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">work</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">call</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">resound</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 19">
      <h1>Run Along</h1>
      <p>Well, I must be running along now, or I’ll be late for supper.</p>
      <div class="btn-row">
      <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">run</button>
      <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">leave</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">hurry</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">scape</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 20">
      <h1>Take For</h1>
      <p>Do you take me for a complete idiot?</p>
      <div class="btn-row">
      <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">understand</button>
      <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">assume</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">judge</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">accuse</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 21">
      <h1>Blow Away</h1>
      <p>She switched on the fan to blow away the smoke.</p>
      <div class="btn-row">
      <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">deviate</button>
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">take</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">clean</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">repulse</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 22">
      <h1>Strike Off</h1>
      <p>We can strike that off today’s agenda – it’s been settled.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">complete</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">erase</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">fill</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">delete</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 23">
      <h1>Look For</h1>
      <p>I’m looking for someone to help with the children.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">find</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">discover</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">search</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">ask</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 24">
      <h1>Fall For</h1>
      <p>He fell for my story and allowed me yet another extension for the submission of my thesis.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">to get in love</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">to be cheated</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">lapse</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">prostrate</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 25">
      <h1>Speak Up</h1>
      <p>But nobody dared to speak up since the decision was made.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">scream</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">say</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">comment</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">think</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 26">
      <h1>Set Apart</h1>
      <p>His genius set him apart from his contemporaries.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">depart</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">contrast</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">distance</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">attract</button>
      </div>	
  </div>


  <div class="quiz" *ngIf = "counter == 27">
      <h1>Butter Up</h1>
      <p>He tried to butter up his boss in hopes of getting an extra day off.</p>
      <div class="btn-row">
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">flatter</button>
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">convince</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">insist</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">explain</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 28">
      <h1>Go Down</h1>
      <p>No one expects house prices to go down in the near future.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">stumble</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">blunder</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">decrease</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">inflate</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 29">
      <h1>Go Through With</h1>
      <p>The company has decided not to go through with the merger.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">cross</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">pass</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">save</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">continue</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 30">
      <h1>Blank Out</h1>
      <p>I’ve blanked out most of those sad memories.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">pull</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">remove</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">erase</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">forget</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 31">
      <h1>Choke Back</h1>
      <p>Her hands were over her mouth to choke back a second scream.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">stifle</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">contain</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">cover</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">retain</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 32">
      <h1>Double Up</h1>
      <p>When we get more books, we won’t have to double up anymore.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">duplicate</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">lend</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">share</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">rent</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 33">
      <h1>Even Up</h1>
      <p>I was hoping for a chance to even up accounts.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">pay</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">draw</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">balance</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">negotiate</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 34">
      <h1>Juice Up</h1>
      <p>What better way to juice up this party?</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">calm</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">encourage</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">cheer</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">improve</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 35">
      <h1>Get Over</h1>
      <p>It can take weeks to get over an illness like that.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">heal</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">overcome</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">diagnose</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">amend</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 36">
      <h1>Hang Around</h1>
      <p>They hang around the station most of the day.</p>
      <div class="btn-row">
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">wander</button>
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">run</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">explore</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">stay</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 37">
      <h1>Pass Out</h1>
      <p>When he got the news, he passed out.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">cry</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">die</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">faint</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">collapse</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 38">
      <h1>Put Up With</h1>
      <p>Maybe no one put up with more frustrations.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">bear</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">tolerate</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">handle</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">understand</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 39">
      <h1>Run Away</h1>
      <p>A man from Tennessee asked me to run away with him years ago.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">disappear</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">escape</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">run</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">move</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 40">
      <h1>Pull Through</h1>
      <p>They said the operation had been successful and they expected his wife to pull through.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">save</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">improve</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">survive</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">heal</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 41">
      <h1>Brake Into</h1>
      <p>He broke into a run when he saw the police.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">break</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">boost</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">advance</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">start</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 42">
      <h1>Put Away</h1>
      <p>He put away the notebook and stood up.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">move</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">take</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">depart</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">keep</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 43">
      <h1>Go Over</h1>
      <p>Can you please go over it again, more slowly?</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">beat</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">overcome</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">return</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">review</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 44">
      <h1>Keep Up</h1>
      <p>He had to hurry to keep up with her.</p>
      <div class="btn-row">
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">catch</button>
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">continue</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">keep</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">protect</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 45">
      <h1>Set Off</h1>
      <p>We set off for Springfield three hours late.</p>
      <div class="btn-row">
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">leave</button>
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">scape</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">drive</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">arrive</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 46">
      <h1>Take Off</h1>
      <p>Her business has really taken off.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">destroy</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">succeed</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">decrease</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">improve</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 47">
      <h1>Sort Out</h1>
      <p>Mariah intended to go home early in order to sort out the dinner.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">prepare</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">order</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">plan</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">raffle</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 48">
      <h1>Set Up</h1>
      <p>It took nearly an hour to set up the tent.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">build</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">fix</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">arm</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">mend</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 49">
      <h1>Turn Into</h1>
      <p>His first novel was turned into a television film.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">revert</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">make</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">transform</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">film</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 50">
      <h1>Put Foward</h1>
      <p>I put foward Henry as a possible nominee.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">announce</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">suggest</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">declare</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">elect</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 51">
      <h1>Look After</h1>
      <p>Do you want me to look after your car?</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">observe</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">fix</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">watch</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">search</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 52">
      <h1>Look Down On</h1>
      <p>“A lot of people look down on us because we’re homeless,” she says.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">abuse</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">mistreat</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">stare</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">underestimate</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 53">
      <h1>Put Back</h1>
      <p>The fire has put back the opening of the theatre by several months.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">cancel</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">delay</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">take</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">ruin</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 54">
      <h1>Take Over</h1>
      <p>Can you take over the cooking while I walk the dog?</p>
      <div class="btn-row">
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">assume</button>
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">return</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">control</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">leave</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 55">
      <h1>Pay Off</h1>
      <p>My investment in those stocks has really paid off.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">rejoice</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">disappoint</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">pay</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">worth</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 56">
      <h1>Catch Up</h1>
      <p>The red car caught up with the blue one.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">collide</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">reach</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">crash</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">overcome</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 57">
      <h1>Move On</h1>
      <p>They stayed for only a few days before moving on.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">move</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">leave</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">exit</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">stir</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 58">
      <h1>Put Out</h1>
      <p>The band put out a statement denying rumours of a split.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">set</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">put</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">spread</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">negate</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 59">
      <h1>Put Out</h1>
      <p>They are hoping to turn the company around with the launch of the new products.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">foment</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">promote</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">swing</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">improve</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 60">
      <h1>Jot Down</h1>
      <p>When did you have the idea to jot down those ideas?</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">upgrade</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">ratiotinate</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">execute</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">note</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 61">
      <h1>Drop By</h1>
      <p>She dropped by the office during her vacation to see if she had received any important mail.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">labor</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">strive</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">come</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">fall</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 62">
      <h1>Carry Off</h1>
      <p>Both actors have the stylish self-confidence needed to carry off these roles.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">charge</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">conquer</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">command</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">rock</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 63">
      <h1>Cut Out</h1>
      <p>You should cut out eating ice cream and get more exercise.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">cut</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">avoid</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">decrease</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">stop</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 64">
      <h1>Fall Apart</h1>
      <p>Cook the tomatoes until they begin to fall apart.</p>
      <div class="btn-row">
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">shatter</button>
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">fall</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">melt</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">heat</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 65">
      <h1>Bounce Back</h1>
      <p>The economy is bouncing back from the recession.</p>
      <div class="btn-row">
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">recuperate</button>
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">decline</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">impoverish</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">contrast</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 66">
      <h1>Give Away</h1>
      <p>If captured, they might give away vital military secrets.</p>
      <div class="btn-row">
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">reveal</button>
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">report</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">omit</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">spread</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 67">
      <h1>Hang On</h1>
      <p>This is the kind of flu that hangs on for weeks.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">endure</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">hold</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">persist</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">tolerate</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 68">
      <h1>Look Out</h1>
      <p>Someone shouted, “look out, he’s got a gun!”</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">see</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">caution</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">note</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">run</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 69">
      <h1>Point Out</h1>
      <p>He pointed out the oldest buildings in the city.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">show</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">say</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">observe</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">point</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 70">
      <h1>Take Up</h1>
      <p>I took up smoking when I was at school.</p>
      <div class="btn-row">
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">start</button>
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">stop</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">addict</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">quit</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 71">
      <h1>Bring About</h1>
      <p>Major spending is required to bring about substantial improvements in housing.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">bring</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">cause</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">carry</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">give</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 72">
      <h1>Take Back</h1>
      <p>If you don’t like the scarf, I can take it back.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">accept</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">negotiate</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">return</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">remove</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 73">
      <h1>Give Out</h1>
      <p>The office gives out financial advice to students.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">return</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">distribute</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">deny</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">repudiate</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 74">
      <h1>Come Across</h1>
      <p>He came across to our point of view.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">deal</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">agree</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">hear</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">like</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 75">
      <h1>Bring On</h1>
      <p>His cold brought on an asthma attack.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">do</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">bring</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">cause</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">cease</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 76">
      <h1>Get Along With</h1>
      <p>Are you getting along with the project?</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">like</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">sympathize</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">progress</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">enjoy</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 77">
      <h1>Come Down</h1>
      <p>He has come down from his original position.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">fall</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">regress</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">return</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">diminish</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 78">
      <h1>Call On</h1>
      <p>She called on all her reserves of courage to face the ordeal ahead of her.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">invite</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">resort</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">invoke</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">connect</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 79">
      <h1>Come Along</h1>
      <p>He decided to give the money to the first stranger who came along.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">ask</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">appear</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">approach</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">plead</button>
      </div>	
  </div>

  <div class="quiz" *ngIf = "counter == 80">
      <h1>Come Foward</h1>
      <p>The National Blood Service is anxious for more donors to come forward.</p>
      <div class="btn-row">
        <button ion-button [style.background]="bC2" (click) = "precheck(2)" [disabled]="disableButton">donate</button>
        <button ion-button [style.background]="correctColor" (click) = "precheck(1)" [disabled]="disableButton">volunteer</button>
        <button ion-button [style.background]="bC3" (click) = "precheck(3)" [disabled]="disableButton">approach</button>
        <button ion-button [style.background]="bC4" (click) = "precheck(4)" [disabled]="disableButton">tender</button>
      </div>	
  </div>


  <div class="quiz" *ngIf="counter == 81">
    <h1>Congratulations!</h1>
    <p>You've finished this one. Click below to see your results:</p>
    <div class="btn-row">
      <button ion-button id="proceed" (click)="viewResults()" block>VIEW RESULTS</button>
    </div>
  </div>


  <div id="score" *ngIf="counter > 0 && done === true">
    <div id="time">{{timerValue}}s</div>
    <div id="results"><b>Your Score</b><br>{{score}}/80<br>
      <div class="stars">
        <ion-icon class="star" name="star" *ngIf="score >= 16"></ion-icon>
        <ion-icon class="star" name="star" *ngIf="score >= 32"></ion-icon>
        <ion-icon class="star" name="star" *ngIf="score >= 48"></ion-icon>
        <ion-icon class="star" name="star" *ngIf="score >= 64"></ion-icon>
        <ion-icon class="star" name="star" *ngIf="score >= 72"></ion-icon>
      </div>
    </div>

    <button ion-button (click)="reset()" id="start">Restart</button>
    <div class="results-table">
      <div class="row">
        <div *ngFor="let x of scores">
          <span id="wrong" *ngIf="x == 0">{{x}}</span>
          <span id="right" *ngIf="x == 1">{{x}}</span>
        </div>
        <br><br><br><br>
      </div>
    </div>

  </div>

</ion-content>